<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='pdfjs/build/pdf.js') }}"></script>
        <script src="{{ url_for('static', filename='pdfjs/build/pdf.worker.js') }}"></script>
        <script src="{{ url_for('static', filename='turnjs4/lib/turn.js') }}"></script>
        <script src="{{ url_for('static', filename='pdfbook.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pdfbook.css') }}">
    </head>
    <body>
        <script>var target = {{ TARGET_URL | tojson }}, dir = {{ READ_DIRECTION | default('ltr') | tojson }};</script>
        <script>$(document).ready(() => renderbook(target, dir));</script>
        <div class="container">
            <div class="header">Header</div>
            <div class="desk">
                <div id="load-progress" style="display:none;"><div class="bar"></div></div>
                <div class="book">
                    <div id="left-button" class="turn-btn"><span>&#x27E8;</span></div>
                    <div id="center">
                        <div id="flipbook" class="flipbook">
                        </div>
                    </div>
                    <div id="right-button" class="turn-btn"><san>&#x27E9;</san></div>
                </div>
            </div>
            <div class="footer">Footer</div>
        </div>
    </body>
</html>
